/* Universal Selector */
* {
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
  margin-right: 0vw;
}

h1 {
  text-decoration: underline overline dotted red;
}

/* Element selectors */
body {
  color: black;
  font-size: 12px;
  margin: auto;
  text-align: left;
}

p {
  margin: 10px 5px 10px 5px;
  color: hsl(201, 92%, 9%);
  font-family: Arial, sans-serif;
}

/* Attribute selector */
a[target] {
  background-color: rgb(30,144,255);
  color: white;
}

/* Pseudo-class selector */
a[target]:hover {
  color: rgba(237, 241, 23, 1);
}

/* ID selector */
#languages {
  font-family: Arial, sans-serif;
  border: 0.05cm solid black;
}

/* selector list */
#comment, #email {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0.5mm solid blue;
  border-radius: 2vh; /* rounded-border*/
  font-size: 100%;
}

/* Descendant combinator */
ol li {
  color: #A307BE;
}

/* Child combinator */
div > span {
  background-color: DodgerBlue;
}

/* General sibling combinator */
img ~ p {
  color: red;
}

/* Adjacent sibling combinator */
li + li {
  font-weight: bold;
  color: orange;
}

/* Combining two selectors */
p.hobby {
  font-weight: bold;
  color: purple;
  padding: 5px 1px 5px 1px; 
}

/* Class selector */
.Enter {
  background-color: #000;
  border-width: 5px;
  border-style: double;
  border-color: grey;
  color: white;
  height: 40px;
  width: 80px;
}