/* Universal Selector */
* {
  margin-left: 10px;
}

/* Element selectors */
body {
  color: black;
  font-size: 12px;
}

p {
  color: black;
  font-family: Arial, sans-serif;
}

/* Attribute selector */
a[target] {
  background-color: blue;
  color: white;
}

/* Pseudo-class selector */
a[target]:hover {
  color: yellow;
}

/* ID selector */
#languages {
  font-family: Arial, sans-serif;
}

/* selector list */
#comment, #email {
  border: 1px solid blue;
}

/* Descendant combinator */
ol li {
  color: purple;
}

/* Child combinator */
div > span {
  background-color: DodgerBlue;
}

/* General sibling combinator */
img ~ p {
  color: red;
}

/* Adjacent sibling combinator */
li + li {
  font-weight: bold;
  color: orange;
}

/* Combining two selectors */
p.hobby {
  font-weight: bold;
  color: purple;
}

/* Class selector */
.Enter {
  background-color: blue;
  border: 2px solid black;
  color: white;
}